body {
	background:#fff repeat top center;
	font-size:87.5%;
	font-family:"HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300;
	color:#8c8a8b;	
	line-height:1.7em;
}
